/* basic setup override */

body {
    overflow-x: hidden !important;
}

/* main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 15em;
    padding-right: 15em;
}

h1.sec__h1 {
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.grid {
    display: flex;
    width: auto;
    align-items: stretch;
    flex-wrap: wrap;
}

/* item setup */

.item {
    display: flex;
    flex: 0 100%;
    flex-direction: column;
    padding: 1em;
    border: solid black 4px;
    background-color: white;
    margin: 10px;
    transition: 0.2s;
}

.item:hover {
    transform: translateY(-3px);
    background-color: black;
    color: white;
}

span.item__icon {
    font-size: 2.5em;
    margin-bottom: 5px;
}

.item__title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 5px;
}

.item__desc {
    font-size: small;
}

/* item setup - defer */

.defer {
    flex: 1;
    background-color: black !important;
    color: white !important;
}

.defer:hover {
    background-color: white !important;
    color: black !important;
}